:root {
    --purple-darker: #271A45;
    --purple-dark: #633BBC;
    --purple-light: #996DFF;
    --white: #FFFFFF;
    --gray-darker: #323238;
    --gray: #8D8D99;
    --gray-light: #C4C4CC;
    --green-light: #04D361;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, span, a {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

h1 {
    font-size: 7.5rem;
    line-height: 7rem;
    font-weight: 600;
}

h2 {
    font-size: 3.5rem;
    font-weight: 600;
}

h3 {
    font-size: 3rem;
    letter-spacing: 0.7px;
    line-height: 3.4rem;
    font-weight: 600;
}

h4 {
    font-size: 2.5rem;
    font-weight: 500;
}

h5 {
    font-size: 2rem;
    font-weight: 500;
}

h6 {
    font-size: 1.25rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    letter-spacing: 0.2px;
    text-align: justify;
}