:root {
    --purple-dark: #633BBC;
    --purple-light: #996DFF;
    --white: #FFFFFF;
    --gray: #8D8D99;
    --green-light: #04D361;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'Roboto', sans-serif;
}